<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: OutdoorParam.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page returns the outdoor current weather data dashboards from
    Cyclotron server using iframe element with URL to the dashboards page.

-->
@{
    ViewData["Title"] = "Outdoor Parameters";
}

<head>
    <!--CSS styling for the page, and for the loading animation-->
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1512699126689-b59fb4e97c92');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        footer {
            background-color: white;
        }
    </style>
</head>

<div class="text-center">

    <h1 class="display-4" style="color:white;">
        <strong>Outdoor Live Dashboards</strong>
    </h1>

</div>


<div class="text-center">

    <!--Temprature icon-->
    <img src="https://www.oneyearnobeer.com/wp-content/uploads/2019/12/thermometer.gif"
         alt="Thermometer"
         width="200"
         height="200"
         style="border-style: solid; background-color:white;">

    <!--wind speed icon-->
    <img src="~/Images/wind-1.1s-200px.svg"
         alt="Wind Speed"
         width="200"
         height="200"
         style="border-style: solid;">

    <!--wind speed icon-->
    <img src="~/Images/navigation-1.1s-200px.svg"
         alt="Direction"
         width="200"
         height="200"
         style="border-style: solid;">

    <!--humidity icon-->
    <img src="~/Images/water-1.1s-200px.svg"
         alt="Humidity"
         width="200"
         height="200"
         style="border-style: solid;">

    <!--clouds amount icon-->
    <img src="~/Images/weather-1.1s-200px.svg"
         alt="Cloud Amount"
         width="200"
         height="200"
         style="border-style: solid;">



    <br><br>

    <!--Environmental paramters values retrieved from controller on page load-->
    <div>
        <h5 style="color:white;">
            &nbsp; Temprature: @ViewBag.Temp °C &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Wind Speed:@ViewBag.WindSpeed (km/h)  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Wind Direction:  @ViewBag.WindDirection &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            Humidity: @ViewBag.Humidity % &nbsp;&nbsp;
            Cloud Amounts: @ViewBag.CloudAmount %
        </h5>
    </div>

    <br>

    <!--Solar irradiance icon-->
    <img src="~/Images/sun.png"
         alt="Solar Intensity"
         width="200"
         height="200"
         style="border-style: solid;">

    <!--Sea level elevation icon-->
    <img src="~/Images/525997-200.png"
         alt="Point Elevation"
         width="200"
         height="200"
         style="border-style: solid; background-color:white;">

    <!--Environmental paramters values retrieved from controller on page load-->
    <div>
        <h5 style="color:white;">
            &nbsp; Solar Irradiance: @ViewBag.SolarIrradiance (W/m2) &nbsp; &nbsp; &nbsp; &nbsp;
            Location Elevation:@ViewBag.PointElevation (m)
        </h5>
    </div>

    <br><br>

    <!--Refresh button to reload page and get most recent outdoor weather parameters-->
    <form class="p-a-1">
        <button class="btn btn-primary" asp-action="OutdoorParam" method="post" type="submit" style="width:300px;">
            Refresh
        </button>
    </form>

    <br><br>

    <!--Windy maps weather services widget pointing at the system's location-->
    <iframe width="650"
            height="450"
            src="https://embed.windy.com/embed2.html?lat=31.9702593&lon=35.9568498&detailLat=31.9702593&detailLon=35.9568498&width=650&height=450&zoom=11&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=true&type=map&location=coordinates&detail=true&metricWind=default&metricTemp=default&radarRange=-1"
            frameborder="1">
    </iframe>

</div>

